* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

header {
  padding: 20px 0px;
  background-color: #ADD8E7;
  margin-bottom: 20px;
}

.top {
  max-width: 1200;
  margin: 0 auto;
  display: flex;
}

.box1 {
  background-color: #DAA51E;
  padding: 20px;
  margin-left: 20%;
  width: 60%;
  border-style: dashed;
  border-width: 3px;
}

.bg-blue {
  background-color: blue;
}

.blue-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}


.pinkbox {
  background-color: #EF82ED;

}