* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

/* general */
header {
  background-color: #ADD8E7;
  padding: 10px 0px;
}

/* layout classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.container-sm {
  max-width: 900px;
  margin: 0 auto;
}

.blank {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}

.col-20 {
  width: 20%;
}

.col-60 {
  width: 60%;
}

.col-100 {
  width: 100%;
  height: 500px;
}

.col {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.debug-height-500 {
  height: 500px;
}

/* utilities */
.bg-orange {
  background-color: orange;
}

.border-black {
  border: 1px solid black;
  border-style: dashed;
}

.bg-darkblue {
  background-color: #00018B;
}

.bg-dimpink {
  background-color: #EF82ED;
}

.bg-blue {
  background-color: #1E90FF;
}

.bg-pink {
  background-color: pink;
}

.p-20 {
  padding: 20px 0;
}

.py-20 {
  padding: 20px 0;
}

/* content classes */

ul {
  list-style-type: none;
}

header ul {
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 0 15px;
}

.text-right {
  text-align: right;
}